include README.md
include INSTALL.md
include TROUBLESHOOTING.md
include LICENSE
include requirements.txt
recursive-include src/config *.json
recursive-include examples *.json *.py *.md
recursive-include docs *.md
recursive-include scripts *.py
